.hide {
    display: none;
}

body {
    background-color: green;
}

h1 {
    text-align: center;
    color: black;
}

#lets-go-button {
    color:green;
}

#start-button {
    display: block;
    max-width: 300px;
    margin: auto;
}

#answers {
    display: block;
    max-width: 350px;
    margin: auto;
}

#score {
    display: block;
    max-width: 100px;
    margin: auto;
}

.start-page {
    text-align: center;
}

.difficulty-level-choice {
    text-align: center;
}

#clock {
    margin: auto;
    color: white;
    height: auto;
    width: 5rem;
    display: flex;
    flex-direction: column;
    text-align:center;
    
}

#question-box {
    margin: auto;
    position: relative; 
    color: white;
    height: auto;
    width: 35rem;
    border: 0.1rem solid black;
    display: flex;
    flex-direction: column;
    text-align:center;
}
