.hide {
    display: none;
}

body {
    background-color: green;
}
h1 {
    text-align: center;
}

#lets-go-button {
    color:green;
}

#sports-button {
    color: green;
}

#sports-easy-button {
    color: green;
}

#entertainment-button {
    color: green;
}

#music-button {
    color: green;
}

#geography-button {
    color: green;
}

.categories {
    text-align: center;
}

.start-page {
    text-align: center;
}

.sports-difficulty-level-choice {
    text-align: center;
}

.entertainment-difficulty-level-choice {
    text-align: center;
}

.music-difficulty-level-choice {
    text-align: center;
}

.geography-difficulty-level-choice {
    text-align: center;
}

#clock {
    margin: auto;
    color: white;
    height: auto;
    width: 5rem;
    border: 0.2rem solid black;
    display: flex;
    flex-direction: column;
    
}

#start-button {
    color: green;
}